.challenges-header{
	height: 185px;
	width: 100%;
	background-color: $blue;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	 &::before{
	content: url('../images/lines.png') ;
	position:absolute;
	top:-170%;
	// height: 185px;
	
	//z-index: -3;
	}
	 
	&__title{
		font-family: $font;
		color: #fff;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.4;
		display: inline-block;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			right:113.19px;
			bottom: -1.5px;
			display: block;
			border:1px solid #fff;
			border-radius:50%;
			height: 5px;
			width: 5px;
			// background: #fff;
		}
		&::after{
			content: '';
			display: block;
			height: 1px;
			width: 110%;
			background: #fff;
		}
	}
}
.challenges-main{
	color:#000;
	//background:#fff;
	z-index: 5;

	&-slider{
		/* width: 200px;
		max-width: 1230px;
			margin: 0 auto;
			width: 100%;
			padding: 0 15px;
			position: relative; */
	}
}

.navigation{
	&__logo{
		width: 84px;
		height: 26px;
	}
}

.chl-slider{
	&-item{

	}


}
.sliders{
	//width:200px;
	background: #0d95e8;
}
.sliderok{
	margin: -10px;
	height: 400px;
	overflow-y: scroll;
}
