.startpageContainer { 
	background: url('../images/startPageBg.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 999;

	&::after { 
		content: '';
		background-image: url('../images/startPageLines.png');
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		top: 0;
		z-index: -20;
	}
}
.startpage{
	margin: 0 auto;
	padding: 0 15px;
	min-width: 374px;
	// position: relative;
	height: 100vh;
	&__logo { 
		padding-top: 215px;
		width: 100%;

	}
	&__text {
		padding-top: 80px;
		padding-bottom: 120px;
		color: white; 
		font: 300 0.875rem/1.5 $font; 
	}
	&__wrapper { 
		display: flex;
		justify-content: center;
		align-items: center; 
	}
	&__button { 
		padding:15px 17px;
		// position: absolute;
		// bottom: 10%;
		// left: 24%;
		// margin: 145px auto 0;
		// display: block;
	}
	&__link { 
	}
}

.navigation { 
	padding-top: 50px; 
	display: flex;
	justify-content: space-between;
	align-items: center;

}


// Properties for start=>register/enter modal window

.startModalContent { 
	// background-image: url('../images/startPageLines.png');

	&__close { 
		
	}
	&__container { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__logo { 
		width: 220px;
		height: 65px;
		margin:40px 0 65px;
	}
	&__buttons { 
		display: flex; 
		justify-content: space-around;
		width: 100%;
		padding: 0 30px;
		margin-bottom: 60px;
	}
	&__enter { 
		width: 110px; 
		height: 45px;
	}
	&__register { 
		width: 110px; 
		height: 45px;

	}
	&__text { 
		text-align: center;
		font-weight: 300;
		line-height: 1.5rem;
		letter-spacing: 0.1rem;
		// padding-bottom: 20px; 
	}

		&__fingerprint {
		padding: 20px 0; 
		}

		&__text2 { 
			color: $orange;
			font-weight: 600; 
		}
}


.challenge-item{
	color: $chalColor;

}