.startpageContainer {
  @media (max-width: $width-sm){
    background: url('../images/startPageBg.jpg') no-repeat;
  }
  @media (min-width: $width-sm){
    background: url('../images/startpage-bg-desktop.jpg') no-repeat top center;
	  //@include size(100%);
	  //@include pos($r:0, $b:0);
	  background-size: cover;
  }

	background-size: cover;
	//height: 100vh;
	position: relative;
	z-index: 999;

	&::after { 
		content: '';
		background-image: url('../images/startPageLines.png');
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		top: 0;
		z-index: -20;
		@media (min-width: $width-sm){
			//content:url('../images/about-line-desktop.png');
			background: url('../images/about-line-desktop.png') no-repeat center center;
			background-size: cover;
			@include size(100%);
			@include pos($r:0, $b:0);
			opacity: 0.5;
			z-index: -3;
		}
	}
}
.startpage{
	margin: 0 auto;
	padding: 0 15px;
	@media (min-width: $width-sm){
		height: 100vh;


	}
  @media (max-width: $width-sm){
    min-width: 320px;
	  height: 100vh;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
  }

	&__mobile-item{
		@media (min-width: $width-sm){
			display: none;
		}

	}
	&__logo { 
		//padding-top: 55%;
		@media (max-width: $width-sm){
			width: 100%;
		}
		@media (min-width: $width-sm){
			padding-right: 5px;
		}


	}
	&__text {
		@media (max-width: $width-sm){
			padding-top: 23%;
		}

		//padding-bottom: 34%;
		color: white; 
		font: 300 0.875rem/1.5 $font; 
	}
	&__wrapper {
		@media (max-width: $width-sm){
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 15%;
		}

	}
	&__button {
		@media (max-width: $width-sm){
			cursor: pointer;
			padding:15px 17px;
		}
		@media (min-width: $width-sm){
			display: none;
		}
      &-link{
        color:#fff;
      }
      &:hover{
		  transition:all .3s;
        transform: scale(.9);
      }
	}
	&__btn-desktop{
		@media (min-width: $width-sm){
			cursor: pointer;
			padding:15px 60px;
		}
	}
	&__desktop-wrap{
		@media (max-width: $width-sm){
			display: none;
		}
		@media (min-width: $width-sm){
			justify-content:space-between;
			display: flex;
			margin:0 12%;
		}
	}
	&__desktop-networks{
		@media (max-width: $width-sm){
			display: none;
		}
		@media (min-width: $width-sm){
			padding-bottom: 10%;
			display: flex;
			justify-content: center;
		}
	}

}



// Properties for start=>register/enter modal window

.startModalContent { 

	&__container { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__logo { 
		width: 60%;
		height: 65px;
		margin:40px 0 65px;
	}
	&__buttons { 
		display: flex; 
		justify-content: space-around;
		width: 100%;
		padding: 0 30px;
		margin-bottom: 60px;
	}
	&__enter { 
		width: 110px; 
		height: 45px;
	}
	&__register { 
		width: 110px; 
		height: 45px;

	}
	&__text { 
		text-align: center;
		font-weight: 300;
		line-height: 1.5rem;
		letter-spacing: 0.1rem;
	}

	&__fingerprint {
		padding: 20px 0; 
	}

	&__text2 { 
		color: $orange;
		font-weight: 600; 
	}
}

// Properties for enter modal window

.enterModalContent { 
	&__container { 
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__logo { 
		width: 100%;
		height: 35px;
		margin-bottom: 25px;
	}
	&__title { 
		font-weight: 600;
		padding-bottom: 40px;
	}

	&__name { 
	}

	&__password { 
		margin-bottom: 20px;
	}

	.eye {
	&::after { 
				content: '';
				background-image: url('../images/SVG/Eye.svg');
				background-size: cover;
				position: absolute;
				display: block;
				width: 17px;
				height: 10px;
				right: 7px;
				top: 5px;
			}  
	 }

	&__forgot { 
		width: 90%;
		text-align: right;
		font-size: 10px;
		color: $orange;
		padding-bottom: 30px;
	}

	&__button { 
		width: 125px;
		height: 45px;
		margin-bottom: 55px;
		&-link{
			color:#fff;
		}
	}

	&__remember { 
		padding-bottom: 40px;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__checkbox { 
		display: none; 

		&:checked + .enterModalContent__custom-checkbox { 
			background-color: $orange; }
		}
		&__custom-checkbox {
			position:relative;
			display:block;
			width:11px;
			height:11px;
			margin-right: 20px;
			border: 1px solid white;
			border-radius: 2px;
		}
		&__checktext { 

		}

		&__wrapper { 
			display: flex;
			justify-content: space-between;
			font-size: 0.875rem;
			width: 80%;
		}

		&__noaccount { 
		}

		&__register { 
			color: $orange;
			font-weight: 600;
		}
	}

// Properties for register modal window

.registerModalContent { 
	&__container { 
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__logo { 
		width: 100%;
		height: 35px;
		margin-bottom: 25px;
	}
	&__title { 
		font-weight: 600;
		padding-bottom: 40px;
		text-align: center;
	}

	&__name { 
	}
	&__email { 
	}
	&__password { 
		margin-bottom: 45px;
	}

	// &__eye { 
	// 	position: absolute;
	// 		display: block;
	// 		top:0;
	// 		left: 0;

	// 		&::before { 
	// 			content: '';
	// 			background-image: url('../images/SVG/Eye.svg');
	// 			background-size: cover;
	// 			display: block;
	// 			position: absolute;
	// 			width: 17px;
	// 			height: 10px;
	// 			right: 0;
	// 			top: 0;
	// 		} 
	// 	}

	 

	&__button { 
		width: 218px;
		height: 40px;
		margin-bottom: 40px;
	}

	&__wrap { 
		display: flex;
		justify-content: center;
		width: 80%;
		padding-bottom:26px;
		align-items: center;
	}


	&__textfacebook { 
		padding-right: 10px; }

		&__facebook { 
			width: 16px;
			height: 16px;
		}

		&__wrapper { 
			width: 80%;
			display: flex; 
			justify-content: center;

		}

		&__yesaccount { 
			padding-right: 16px;
		}

		&__enter { 
			color: $orange;
			font-weight: 600;
		}
	}



	.challenge-item{
		color: $chalColor;

	}
