.startpageContainer { 
	background: url('../images/startPageBg.jpg') no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	z-index: 999;

	&::after { 
		content: '';
		background-image: url('../images/startPageLines.png');
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		top: 0;
		z-index: -20;
	}
}
.startpage{
	margin: 0 auto;
	padding: 0 15px;
	min-width: 374px;
	//height: 100vh;
	&__logo { 
		padding-top: 50%;
		width: 100%;

	}
	&__text {
		padding-top: 20%;
		padding-bottom: 35%;
		color: white; 
		font: 300 0.875rem/1.5 $font; 
	}
	&__wrapper { 
		display: flex;
		justify-content: center;
		align-items: center; 
	}
	&__button { 
		padding:15px 17px;
	}
	&__link { 
	}
}

.navigation { 
	padding-top: 50px; 
	display: flex;
	justify-content: space-between;
	align-items: center;

}


// Properties for start=>register/enter modal window

.startModalContent { 

	&__container { 
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__logo { 
		width: 220px;
		height: 65px;
		margin:40px 0 65px;
	}
	&__buttons { 
		display: flex; 
		justify-content: space-around;
		width: 100%;
		padding: 0 30px;
		margin-bottom: 60px;
	}
	&__enter { 
		width: 110px; 
		height: 45px;
	}
	&__register { 
		width: 110px; 
		height: 45px;

	}
	&__text { 
		text-align: center;
		font-weight: 300;
		line-height: 1.5rem;
		letter-spacing: 0.1rem;
	}

	&__fingerprint {
		padding: 20px 0; 
	}

	&__text2 { 
		color: $orange;
		font-weight: 600; 
	}
}

// Properties for enter modal window

.enterModalContent { 
	&__container { 
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__logo { 
		width: 100%;
		height: 35px;
		margin-bottom: 25px;
	}
	&__title { 
		font-weight: 600;
		padding-bottom: 40px;
	}

	&__name { 
	}

	&__password { 
		margin-bottom: 20px;
	}

	&__forgot { 
		width: 90%;
		text-align: right;
		font-size: 10px;
		color: $orange;
		padding-bottom: 30px;
	}

	&__button { 
		width: 125px;
		height: 45px;
		margin-bottom: 55px;
	}

	&__remember { 
		padding-bottom: 40px;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		cursor: pointer;
	}
	&__checkbox { 
		display: none; 

		&:checked + .enterModalContent__custom-checkbox { 
			background-color: $orange; }
		}
		&__custom-checkbox {
			position:relative;
			display:block;
			width:11px;
			height:11px;
			margin-right: 20px;
			border: 1px solid white;
			border-radius: 2px;
		}
		&__checktext { 

		}

		&__wrapper { 
			display: flex;
			justify-content: space-between;
			font-size: 0.875rem;
			width: 80%;
		}

		&__noaccount { 
		}

		&__register { 
			color: $orange;
			font-weight: 600;
		}
	}

// Properties for register modal window

.registerModalContent { 
	&__container { 
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__logo { 
		width: 100%;
		height: 35px;
		margin-bottom: 25px;
	}
	&__title { 
		font-weight: 600;
		padding-bottom: 40px;
		text-align: center;
	}

	&__name { 
	}
	&__email { 
	}
	&__password { 
		margin-bottom: 45px;
	}

	&__button { 
		width: 218px;
		height: 40px;
		margin-bottom: 40px;
	}

	&__wrap { 
		display: flex;
		justify-content: center;
		width: 80%;
		padding-bottom:26px;
		align-items: center;
	}


	&__textfacebook { 
	padding-right: 10px; }
	
	&__facebook { 
		width: 16px;
		height: 16px;
	}

	&__wrapper { 
		width: 80%;
		display: flex; 
		justify-content: center;

	}

	&__yesaccount { 
		padding-right: 16px;
	}

	&__enter { 
		color: $orange;
		font-weight: 600;
	}
}



.challenge-item{
	 color: $chalColor;

}
