* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	// transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	height: 100%;
	font-size: 16px;
}

body, html {
	min-height: 100%;
	width: 100%;

}
body { 
font: 1rem $font;
	color: white; }

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}
a{
	text-decoration: none;
}
.hidden{
	display: none;
}
//START
.navigation{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	padding-top: 45px;

	&__acount{
		width: 21px;
		height: 25px;
	}
}
.design-container{
	max-width: 340px;
	margin: 0 auto;
	padding: 0 15px;
	&__about-info{
		display: flex;
		flex-direction: column;
		// justify-content: center;
		align-items: center;
	}

}

.burger-menu{
	cursor: pointer;
	height: 10px;
	display: flex;
	align-items: center;
	transition: all .3s;
	margin: 9px 15px 0 0;
	&__item {
		display: block;
		width: 26px;
		height: 2px;
		background: #fff;
		position: relative;
		transition: none;

	&::before,
	&::after {
		content: '';
		width: 26px;
		height: 2px;
		position: absolute;
		left: 0px;
		background: #fff;
		// transition: all .3s;
	}

		&::before {
			top: -3px;
		}
		&::after {
			bottom: -3px;
		}
	}
}

// Button general changes

.button { 
	background: $orange;
	border-radius: 4px;
	color: white;
	font: 600 0.875rem $font;
	&__link { 
		text-decoration: none;
		color: white;
	}
}

// JS MODAL WINDOWS


.bg { 
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0,0,0, .8);
	
}

.content { 
	background-color: $blue; 
	margin: 15% auto;
	width: 90%;
	height: 65%;
	border-radius: 8px;
	background-image: url('../images/linesModal.png');
	background-size: cover;
	&__wrapper { 
		display: flex;
		justify-content: flex-end;
	}

	&__close { 
	width: 20px;
	height: 20px;
	margin:20px 20px;
	overflow: hidden;
}
}