.about-body{
	font-size: 16px;
	background: $blue;
	// background-size: cover;
	position: relative;
	// opacity: 0.7;
	&::after{
		content:url('../images/lines.png');
		@include pos($t:0, $r:0, $l:0);
		opacity: 0.7;
		z-index: -3;
	}
}

.about-header{	
	z-index: 1;
	position: relative;
	min-height: 30vh;
	&::before{
		content:url('../images/about-header-bg.png');
		opacity: 0.7;
		height: 100%;
		@include pos($t:0, $l:0);
		z-index: -4;
	}
	
}
.about-main{
	margin-top: 2%;
	height: 70vh;
	
	&__info{
		font-family: $font;
		font-size: 0.875rem;
		color: #fff;
		height: 49vh;
		overflow-y: scroll;
		position: relative;
		margin-bottom: 15%;
		> p{
			padding-bottom: 25px;
			line-height: 1.25rem
		}
		h2{
			font-size: 1.25rem;
			padding-bottom: 25px;
			font-weight: 500;
		}
	}

}


.logo{
	&__icon{
	width: 195px;
	height: 55px;
	}
}
.button-do{
	background: $orange;
	border-radius: 4px;
	padding: 16px 40px;
	font-size: 0.875rem;
	cursor: pointer;
	color: #fff;
}

.scroll{
	position: absolute;
	bottom: 140px;
	right: 20px;
	z-index:99;
}

.slider{
	&__item{
		img{
			width: 85%;
			padding-bottom: 5px;
		}
		padding-top: 20px;
		padding-bottom: 30px;
	}
	
}
.slick-active.slick-center  {
    transform: scale(1.2);
  
}